@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

* {
  padding: 0;
  margin: 0;
}

body {
  background-image: url("../img/background.jpg");
  background-size: cover; 
  height: 100vh; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: rgba(46, 46, 46, 0.9);
  padding: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Press Start 2P", cursive;
  color: rgb(247, 247, 247);
}

h1 {
  text-align: center;
  margin: 15px;
}

.stats {
  display: flex;
  width: 563px;
  justify-content: space-between;
  margin: 10px;
}

canvas {
  background-color: rgba(248, 248, 248, 0.8);
}
